
@model SignalRApp.Models.AuthorModel
@{
    ViewBag.Title = "Login";
}

<style>
    .table{
        width:10%;
    }
</style>
<h2>Login</h2>

<p class="label label-danger">@TempData["message"]</p>
@using (Html.BeginForm())
{
    <table class="table table-hover">
        <tr>
            <th>UserName:</th>
            <td> @Html.TextBoxFor(m => m.AuthorCollection[0].UserID)</td>
        </tr>
        <tr>
            <th>Password</th>
            <td> @Html.PasswordFor(m => m.AuthorCollection[0].Password) </td>
        </tr>
    </table>

    <input type="submit" value="Login" class="btn btn-primary" />

}